<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Product Apprentice" Language="1033" Version="1.0.0.0" Manufacturer="Apprentice Systems" UpgradeCode="6258a301-fca3-4bd4-92b1-21b98d24aae8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Product Apprentice 11" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Product Apprentice is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Product Apprentice" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufactureFolder" Name="!(bind.property.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="ProductApprentice" />
        </Directory>		
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
       
      <File Source="$(var.MyApplication.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>


